extends layout

block append styles
    +common-link('/css/main.css')

block header
    include header

block content
    .content
        //leftPanel
        .leftPanel.fl

            //select a domain
            .domainNameBox
                .domainName.clearfix
                    if domain
                        span(domain_id =domain._id)=domain.name
                    else
                        span(domain_id = 'default') Select a domain
                    a(href='javascript:void(0);')
                        img(src='img/list.png')
                ul.domainName-selector
                    if domains
                        each val in domains
                            li
                                a(href='javascript:void(0);' domain_id=val._id)=val.name
            //search an item
            .searchBox
                a(href='javascript:void(0);')
                if domain
                    input(placeholder='search item' id='search' name='search' value='')
                else
                    input(placeholder='search item' id='search' name='search' disabled='disabled' value='')

            //create new resource
            .mockList.clearfix
                span.pull-left Mock List
                if domain
                    button.btn.createResourceBtn.pull-right(type='button') New Resource
                else
                    button.btn.createResourceBtn.pull-right.disabled(type='button') New Resource

            //resource list
            ul.mockResourceList
                if resourceItems
                    each val in resourceItems
                        li
                            .resourceNameBox
                                span.resourceName(resource_id=val.resource._id)=val.resource.name
                                span.icon.downIcon(href='javascript:;')
                            ul.mockItemList.collapse
                                each item in val.items
                                    li(title=item.description)
                                        if item.active
                                            span.state.active
                                            span.itemName(item_id=item._id)=item.name
                                        else
                                            span.state.inactive
                                            span.itemName(item_id=item._id)=item.name
                                        span.itemIcon.edit
                                        span.itemIcon.delete

        //rightPanel
        .rightPanel.fl
            .domainItemDesc
            .clearfix
                p.subTitle.pull-left Mock Define Language
                a.help.pull-right(href='https://github.corp.ebay.com/jicui/happy_mock_happy_work/blob/master/moci-mrs/api.md' target='_blank') [help]

            //jsoneditor
            #editor.editor

            //success/error hint
            .errMsg.hidden You've made some mistakes in this line...<br/> This line has error.
            .alert.alert-success.sucMsg.hidden(role='alert') Save successfully!

            //buttons
            .btnGroup
                button.btn.actionBtn.reset.pull-right(type='button') Reset
                button.btn.actionBtn.active.disabled(type='button') Active
                button.btn.actionBtn.add.disabled.pull-left(type='button') Add to resource
                button.btn.actionBtn.save.disabled.pull-left(type='button') Save
                .clear
        .clearfix

    //popup-common
    mixin modal-common-heder(title)
        .modal-header
            button.close(type='button' data-dismiss='modal')
                span(aria-hidden='true') &times;
                span.sr-only Close
            h4.modal-title=title

    mixin modal-common-footer
        .modal-footer
            button.btn.btn-right.disabled(type='button' data-dismiss='modal') Save
            button.btn.btn-left(type='button' data-dismiss='modal') Cancel

    mixin common-modal(id, label, title)
        .modal.fade(tabindex='-1' role='dialog' aria-labelledby=label aria-hidden='true' id=id)
            .modal-dialog
                .modal-content
                    +modal-common-heder(title)
                    .modal-body
                        if block
                            block
                        else
                            p Error
                    if block
                        .modal-footer
                            button.btn.btn-right(type='button' data-dismiss='modal') Ok
                            button.btn.btn-left(type='button' data-dismiss='modal') Cancel
                    else
                        +modal-common-footer


    //popup-create a new resource
    +common-modal('createModel','createModelLabel', 'Add a resource name')
        .form-group
            label Resource name
            input.form-control(name='name' placeholder='Add a resource name')
        .alert.hidden(role='alert') The Resource name cannot be empty!

    //popup-add mock item to resource
    +common-modal('createItemModel','createItemModelLabel', 'Add mock item to resource')
        .form-group
            label Exsiting resource
            .popup-dropdown
                input.form-control(name='resource' placeholder='Select an exsiting resource')
                span.downIcon(href='javascript:;')
                ul.resourceName-selector
        .form-group
            label Or create a new resource
            input.form-control( placeholder='Add a resource name' disabled='disabled')
        .form-group
            label Mock item name
            input.form-control(name='name' placeholder='Add an item name')
        .form-group
            label Description
            textarea.form-control(name='description' rows='3' placeholder='say something...')
        .alert.alert-success.hidden(role='alert') Create  a new mockItems successfully!

    //popup-edit an existing item
    +common-modal('editModel','EditModalLabel', 'Edit mock item')
        .form-group
            label Mock item name
            input.form-control(name='name' placeholder='Add an item name')
        .form-group
            label Description
            textarea.form-control(name='description' rows='3' placeholder='say something...')
        .alert.alert-success.hidden(role='alert') Edit successfully!

    //popup-delete an existing item
    +common-modal('deleteModel','deleteModalLabel', 'Add a resource name')
        h4 Confirm to delete?
        .alert.alert-danger.hidden(role='alert') Active and Cannot delete!



block footer
    include footer.jade
block append scripts
    +common-script("/js/main.js")
